<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project_final</display-name>
  <welcome-file-list>
    <welcome-file>UserHome.html</welcome-file>
    <welcome-file>UserHome.htm</welcome-file>
    <welcome-file>UserHome.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.KS.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.KS.controller.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.KS.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserTypeFormServlet</servlet-name>
    <servlet-class>com.KS.controller.UserTypeFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeFormServlet</servlet-name>
    <url-pattern>/UserTypeFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserTypeServlet</servlet-name>
    <servlet-class>com.KS.controller.ListUserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserTypeServlet</servlet-name>
    <url-pattern>/ListUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserTypeServlet</servlet-name>
    <servlet-class>com.KS.controller.EditUserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserTypeServlet</servlet-name>
    <url-pattern>/EditUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserTypeServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateUserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserTypeServlet</servlet-name>
    <url-pattern>/UpdateUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserTypeServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteUserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserTypeServlet</servlet-name>
    <url-pattern>/DeleteUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StateFormServlet</servlet-name>
    <servlet-class>com.KS.controller.StateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateFormServlet</servlet-name>
    <url-pattern>/StateFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListStateServlet</servlet-name>
    <servlet-class>com.KS.controller.ListStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStateServlet</servlet-name>
    <url-pattern>/ListStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditStateServlet</servlet-name>
    <servlet-class>com.KS.controller.EditStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStateServlet</servlet-name>
    <url-pattern>/EditStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStateServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateServlet</servlet-name>
    <url-pattern>/UpdateStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStateServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStateServlet</servlet-name>
    <url-pattern>/DeleteStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CityFormServlet</servlet-name>
    <servlet-class>com.KS.controller.CityFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityFormServlet</servlet-name>
    <url-pattern>/CityFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListCityServlet</servlet-name>
    <servlet-class>com.KS.controller.ListCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCityServlet</servlet-name>
    <url-pattern>/ListCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCityServlet</servlet-name>
    <servlet-class>com.KS.controller.EditCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCityServlet</servlet-name>
    <url-pattern>/EditCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCityServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCityServlet</servlet-name>
    <url-pattern>/UpdateCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCityServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCityServlet</servlet-name>
    <url-pattern>/DeleteCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteFormServlet</servlet-name>
    <servlet-class>com.KS.controller.RouteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteFormServlet</servlet-name>
    <url-pattern>/RouteFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListRouteServlet</servlet-name>
    <servlet-class>com.KS.controller.ListRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRouteServlet</servlet-name>
    <url-pattern>/ListRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditRouteServlet</servlet-name>
    <servlet-class>com.KS.controller.EditRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRouteServlet</servlet-name>
    <url-pattern>/EditRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <url-pattern>/UpdateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <url-pattern>/DeleteRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuotationFormServlet</servlet-name>
    <servlet-class>com.KS.controller.QuotationFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationFormServlet</servlet-name>
    <url-pattern>/QuotationFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListQuotationServlet</servlet-name>
    <servlet-class>com.KS.controller.ListQuotationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListQuotationServlet</servlet-name>
    <url-pattern>/ListQuotationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditQuotationServlet</servlet-name>
    <servlet-class>com.KS.controller.EditQuotationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuotationServlet</servlet-name>
    <url-pattern>/EditQuotationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQuotationServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateQuotationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuotationServlet</servlet-name>
    <url-pattern>/UpdateQuotationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQuotationServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteQuotationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuotationServlet</servlet-name>
    <url-pattern>/DeleteQuotationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vendor_detailFormServlet</servlet-name>
    <servlet-class>com.KS.controller.Vendor_detailFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendor_detailFormServlet</servlet-name>
    <url-pattern>/Vendor_detailFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListVendor_detailServlet</servlet-name>
    <servlet-class>com.KS.controller.ListVendor_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVendor_detailServlet</servlet-name>
    <url-pattern>/ListVendor_detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditVendor_detailServlet</servlet-name>
    <servlet-class>com.KS.controller.EditVendor_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVendor_detailServlet</servlet-name>
    <url-pattern>/EditVendor_detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVendor_detailServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateVendor_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVendor_detailServlet</servlet-name>
    <url-pattern>/UpdateVendor_detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVendor_detailServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteVendor_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVendor_detailServlet</servlet-name>
    <url-pattern>/DeleteVendor_detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceFormServlet</servlet-name>
    <servlet-class>com.KS.controller.ServiceFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceFormServlet</servlet-name>
    <url-pattern>/ServiceFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListServiceServlet</servlet-name>
    <servlet-class>com.KS.controller.ListServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServiceServlet</servlet-name>
    <url-pattern>/ListServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditServiceServlet</servlet-name>
    <servlet-class>com.KS.controller.EditServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServiceServlet</servlet-name>
    <url-pattern>/EditServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <url-pattern>/UpdateServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HouseholdFormServlet</servlet-name>
    <servlet-class>com.KS.controller.HouseholdFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseholdFormServlet</servlet-name>
    <url-pattern>/HouseholdFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListHouseholdServlet</servlet-name>
    <servlet-class>com.KS.controller.ListHouseholdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHouseholdServlet</servlet-name>
    <url-pattern>/ListHouseholdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditHouseholdServlet</servlet-name>
    <servlet-class>com.KS.controller.EditHouseholdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHouseholdServlet</servlet-name>
    <url-pattern>/EditHouseholdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHouseholdServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateHouseholdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHouseholdServlet</servlet-name>
    <url-pattern>/UpdateHouseholdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteHouseholdServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteHouseholdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHouseholdServlet</servlet-name>
    <url-pattern>/DeleteHouseholdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FoodFormServlet</servlet-name>
    <servlet-class>com.KS.controller.FoodFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodFormServlet</servlet-name>
    <url-pattern>/FoodFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFoodServlet</servlet-name>
    <servlet-class>com.KS.controller.ListFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFoodServlet</servlet-name>
    <url-pattern>/ListFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFoodServlet</servlet-name>
    <servlet-class>com.KS.controller.EditFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFoodServlet</servlet-name>
    <url-pattern>/EditFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HaulageFormServlet</servlet-name>
    <servlet-class>com.KS.controller.HaulageFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HaulageFormServlet</servlet-name>
    <url-pattern>/HaulageFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListHaulageServlet</servlet-name>
    <servlet-class>com.KS.controller.ListHaulageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHaulageServlet</servlet-name>
    <url-pattern>/ListHaulageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditHaulageServlet</servlet-name>
    <servlet-class>com.KS.controller.EditHaulageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHaulageServlet</servlet-name>
    <url-pattern>/EditHaulageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHaulageServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateHaulageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHaulageServlet</servlet-name>
    <url-pattern>/UpdateHaulageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteHaulageServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteHaulageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHaulageServlet</servlet-name>
    <url-pattern>/DeleteHaulageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnimalFormServlet</servlet-name>
    <servlet-class>com.KS.controller.AnimalFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalFormServlet</servlet-name>
    <url-pattern>/AnimalFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAnimalServlet</servlet-name>
    <servlet-class>com.KS.controller.ListAnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAnimalServlet</servlet-name>
    <url-pattern>/ListAnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAnimalServlet</servlet-name>
    <servlet-class>com.KS.controller.EditAnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAnimalServlet</servlet-name>
    <url-pattern>/EditAnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAnimalServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateAnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAnimalServlet</servlet-name>
    <url-pattern>/UpdateAnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAnimalServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteAnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnimalServlet</servlet-name>
    <url-pattern>/DeleteAnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VehicleFormServlet</servlet-name>
    <servlet-class>com.KS.controller.VehicleFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleFormServlet</servlet-name>
    <url-pattern>/VehicleFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListVehicleServlet</servlet-name>
    <servlet-class>com.KS.controller.ListVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVehicleServlet</servlet-name>
    <url-pattern>/ListVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditVehicleServlet</servlet-name>
    <servlet-class>com.KS.controller.EditVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVehicleServlet</servlet-name>
    <url-pattern>/EditVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVehicleServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleServlet</servlet-name>
    <url-pattern>/UpdateVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <url-pattern>/DeleteVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackFormServlet</servlet-name>
    <servlet-class>com.KS.controller.FeedbackFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackFormServlet</servlet-name>
    <url-pattern>/FeedbackFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <servlet-class>com.KS.controller.ListFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <url-pattern>/ListFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFeedbackServlet</servlet-name>
    <servlet-class>com.KS.controller.EditFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFeedbackServlet</servlet-name>
    <url-pattern>/EditFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <url-pattern>/UpdateFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Service_vendorFormServlet</servlet-name>
    <servlet-class>com.KS.controller.Service_vendorFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service_vendorFormServlet</servlet-name>
    <url-pattern>/Service_vendorFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListService_vendorServlet</servlet-name>
    <servlet-class>com.KS.controller.ListService_vendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListService_vendorServlet</servlet-name>
    <url-pattern>/ListService_vendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditService_vendorServlet</servlet-name>
    <servlet-class>com.KS.controller.EditService_vendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditService_vendorServlet</servlet-name>
    <url-pattern>/EditService_vendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateService_vendorServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateService_vendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateService_vendorServlet</servlet-name>
    <url-pattern>/UpdateService_vendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteService_vendorServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteService_vendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteService_vendorServlet</servlet-name>
    <url-pattern>/DeleteService_vendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Office_removalsFormServlet</servlet-name>
    <servlet-class>com.KS.controller.Office_removalsFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_removalsFormServlet</servlet-name>
    <url-pattern>/Office_removalsFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListOffice_removalsServlet</servlet-name>
    <servlet-class>com.KS.controller.ListOffice_removalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOffice_removalsServlet</servlet-name>
    <url-pattern>/ListOffice_removalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditOffice_removalsServlet</servlet-name>
    <servlet-class>com.KS.controller.EditOffice_removalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOffice_removalsServlet</servlet-name>
    <url-pattern>/EditOffice_removalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOffice_removalsServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateOffice_removalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOffice_removalsServlet</servlet-name>
    <url-pattern>/UpdateOffice_removalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOffice_removalsServlet</servlet-name>
    <servlet-class>com.KS.controller.DeleteOffice_removalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOffice_removalsServlet</servlet-name>
    <url-pattern>/DeleteOffice_removalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.KS.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.KS.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OAuth2Callback</servlet-name>
    <servlet-class>com.KS.socialMedia.OAuth2Callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2Callback</servlet-name>
    <url-pattern>/OAuth2Callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.KS.controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecurityAnswerValidateServlet</servlet-name>
    <servlet-class>com.KS.controller.SecurityAnswerValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityAnswerValidateServlet</servlet-name>
    <url-pattern>/SecurityAnswerValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer3Servlet</servlet-name>
    <servlet-class>com.KS.controller.Customer3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer3Servlet</servlet-name>
    <url-pattern>/Customer3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChargeCreditCardServlet</servlet-name>
    <servlet-class>com.KS.controller.ChargeCreditCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeCreditCardServlet</servlet-name>
    <url-pattern>/ChargeCreditCardServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
   <servlet>
    <servlet-name>ShowRequestServlet</servlet-name>
    <servlet-class>com.KS.controller.ShowRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequestServlet</servlet-name>
    <url-pattern>/ShowRequestServlet</url-pattern>
  </servlet-mapping>
  
  
  
    
   <servlet>
    <servlet-name>ShowUserDetailsServlet</servlet-name>
    <servlet-class>com.KS.controller.ShowUserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserDetailsServlet</servlet-name>
    <url-pattern>/ShowUserDetailsServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>PlaceQuotationServlet</servlet-name>
    <servlet-class>com.KS.controller.PlaceQuotationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceQuotationServlet</servlet-name>
    <url-pattern>/PlaceQuotationServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
    <servlet>
    <servlet-name>CustFinalServlet</servlet-name>
    <servlet-class>com.KS.controller.CustFinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustFinalServlet</servlet-name>
    <url-pattern>/CustFinalServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>ListSecurity_questionServlet</servlet-name>
    <servlet-class>com.KS.controller.ListSecurity_questionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSecurity_questionServlet</servlet-name>
    <url-pattern>/ListSecurity_questionServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.KS.controller.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHomeServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>com.KS.controller.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/ShowProfileServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>UpdateDelStatusServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateDelStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDelStatusServlet</servlet-name>
    <url-pattern>/UpdateDelStatusServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>ShowVenProfileServlet</servlet-name>
    <servlet-class>com.KS.controller.ShowVenProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowVenProfileServlet</servlet-name>
    <url-pattern>/ShowVenProfileServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>UpdateVenProfileServlet</servlet-name>
    <servlet-class>com.KS.controller.UpdateVenProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVenProfileServlet</servlet-name>
    <url-pattern>/UpdateVenProfileServlet</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>Customer2Servlet</servlet-name>
    <servlet-class>com.KS.controller.Customer2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer2Servlet</servlet-name>
    <url-pattern>/Customer2Servlet</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
    <servlet-name>ContactFormServlet</servlet-name>
    <servlet-class>com.KS.controller.ContactFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFormServlet</servlet-name>
    <url-pattern>/ContactFormServlet</url-pattern>
  </servlet-mapping>
 
 
 
 	
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
 
 
 
 
 
  
</web-app>